*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    background: url(G1.jpg);
    font-family: Poppins,sans-serief;
    color: #fff;
}
.services
{
    width: 1300px;
    padding: 30px 60px;
    margin: auto;
}
.services h1
{
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    font-weight: 600;
    color: black;


}
.services h1:after
{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    background-color: black;
}
.scards
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card
{
    width: calc(34% - 22px);
    background: url(G2.jpg);
    color: #333;
    padding: 40px 12px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    position: relative;

}
.sbox i
{
    font-size: 36px;
    border: 1px solid rgba(0,0,0,0,5);
    border-radius: 50%;
    padding: 15px;
    transition: 0.5s;
}
.sbox h3
{
    font-size: 24px;

}
.sbox p
{
    margin: 20px 0;

}
.sbox a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: #333;
    padding: 10px 15px;
    border-radius: 18px;
    transition: 0.5s;
    margin: 20px 0;



}
.sbox a:hover
{
   background: transparent;
   border: 1px solid #333;
   transform: scale(1.2);;
   background: rgb(181, 22, 22);

}
.card:hover .sbox i
{
    background: blue;
    color: #fff;
    border-color: rgb

}
.card:after
{
    content: '';
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.card:hover:after
{
    transform: rotate(13deg);
    background-color: red;


}
.navigation-bar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 50px;
    background: Url(G1.jpg);
    

}
.logo
{
    position: fixed;
    margin-top: 10px;

}
.logo a
{
    text-decoration: none;
    color: orangered;
    font-size: 30px;
}
nav
{
    flex: 1;
    position: fixed;
    right: 0;

}
nav ul
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 90px;
    margin-top: 1px;


}
nav ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: blue;
    font-family: sans-serief;
}

  




